<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceInformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DeviceInformationSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DeviceInformationUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>874D9B9D1CA1A6AC009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A04FD51C9F947C00AE1F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A04FE91C9F947C00AE1F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A04FF41C9F947C00AE1F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A0500B1C9F956F00AE1F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A050141C9F956F00AE1F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
